<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Selecciona una ciudad:</strong>
    <ion-select [(ngModel)]="selectedCity" (ionChange)="onCityChange($event)">
      <ion-select-option *ngFor="let city of cities" [value]="city">
        {{ city.name }}
      </ion-select-option>
    </ion-select>
  </div>
</ion-content>
